<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BC Housing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BCHousing.AfsWebAppMvc.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-collapse navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <button class="navbar-toggler-icon" style="border: none;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerList1" aria-controls="navbarTogglerList1" aria-expanded="false" aria-label="Toggle navigation">
                    <img src="https://www.bchousing.org/themes/custom/bchousing/logo.svg" alt="BC Housing Logo" width="150" height="50">
                </button>
                <div class="navbar">
                    <form class="d-flex padding">
                        <input class="form-control me-2" type="search" placeholder="Search Text" aria-label="Search">
                        <button class="btn btn-outline-dark" type="submit">Search</button>
                    </form>
                </div>
                <div class="collapse navbar-collapse" id="navbarTogglerList1">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-primary" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle text-primary" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Services</a>
                            <ul class="dropdown-menu" style="background-color:transparent; border:none;">
                                <li><a class="dropdown-item text-dark" href="/Home/Submission" style="font-size:inherit;">Submission</a></li>
                                <li><a class="dropdown-item text-dark" href="/Home/Visualization" style="font-size:inherit;">Visualization</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - BCHousing.AfsWebAppMvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
