<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://afs-trigger-blobstorage.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7299d358-dfbe-4a8c-90fc-311cddaaddc3/resourcegroups/Application-Form-Scanner-POC/providers/Microsoft.Web/sites/afs-trigger-blobstorage</ResourceId>
    <UserName>$afs-trigger-blobstorage</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://afs-trigger-blobstorage.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>