@model BCHousing.AfsWebAppMvc.Models.UploadFileViewModel
@{
    ViewData["Title"] = "Home Page";   
}

<div class="text-center">
    <h1 class="display-2">Submission Application Form</h1>
</div>

<div class="center">
    <form asp-controller="Home" asp-action="Submit" method="post" enctype="multipart/form-data">
        <div class="container-fluid row gy-3 gx-2">
            <div class="input-group col-auto">
                <label class="visually-hidden" for="submission-form-first-name1">First Name</label>
                <div class="input-group">
                    <div class="input-group-text">First Name</div>
                    <input type="text" class="form-control" id="submission-form-last-name1" placeholder="First Name" asp-for="@Model.FirstName">
                </div>
            </div>
            <div class="input-group col-auto">
                <label class="visually-hidden" for="submission-form-last-name1">Last Name</label>
                <div class="input-group">
                    <div class="input-group-text">Last Name</div>
                    <input type="text" class="form-control" id="submission-form-last-name1" placeholder="Last Name" asp-for="@Model.LastName">
                </div>
            </div>
            <div class="col-auto">
                <label class="visually-hidden" for="autoSizingSelect">Preference</label>
                <div class="input-group">
                    <div class="input-group-text">File Type</div>
                    <select class="form-select" id="autoSizingSelect" asp-for="@Model.DocumentType" required>
                        <option selected>Choose Type...</option>
                        <option value="RAP">RAP</option>
                        <option value="SAFER">SAFER</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>
            <div class="input-group form-group col-auto">
                <input asp-for="@Model.UploadFile" type="file" class="form-control" id="input-file-submit1" accept=".pdf">
            </div>
            <div class="input-group col-auto">
                <button type="submit" class="btn btn-secondary">Submit</button>
            </div>
        </div>
    </form>
</div>
