@{
    ViewData["Title"] = "Visualization Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center text-dark">
    <h1 class="display-2">Welcome to Submission Portal</h1>
</div>
