@model BCHousing.AfsWebAppMvc.Entities.Session.SubmissionViewInputModel
@{
    ViewData["Title"] = "Visualization Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Visualization of file has been upload</h1>
   
</div>